* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}

body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    background-color: #fee2e2;
}

main {
    background-color: rgb(255, 255, 255);
    grid-area: main;
    width: 80%;
    overflow: hidden;
    margin: auto;

    box-shadow: #797777;
}

/* Contenedor para el encabezado y el botón */
.app-container {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    text-align: left;
    
}

#titulo_tabla{
    margin: 25px 15px;
    font-size: 36x;
}

/* Estilo general para la sección */
.table-responsive {
    overflow-x: auto;
    margin: 10px 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 35px;
}

/* Estilo para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
    
}

/* Estilo para el encabezado de la tabla */
.table th {
    background-color:#f8b1b0;
    color: #ffffff;
    padding: 15px;
    border-right: 3px solid #ffffff;
    font-weight: 700;
    
    
}

/* Estilo para las filas de la tabla */
.table tr {
    border-bottom: 1px solid #ddd;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilo para las celdas de la tabla */
.table td {
    padding: 10px;
    color: #333;
}

/* Estilo para los botones de acción */
.btns {
    font-size: 16px;
    padding: 5px 10px;
    margin: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btns-outline-success {
    color: #474747;
    border-color: #474747;
    background-color: transparent;
}

.btns-outline-success:hover {
    background-color: #474747;
    color: #fff;
}

.btns-outline-danger {
    color: #f8b1b0;
    border-color: #f8b1b0;
    background-color: transparent;
}

.btns-outline-danger:hover {
    background-color: #f8b1b0;
    color: #fff;
}

.btns-outline-primary {
    color: #ffffff;
    background-color: #f8b1b0;
    margin-left: 15px;
    padding: 10px 15px;
}

.btns-outline-primary:hover {
    background-color: #ffffff;
    color: #f8b1b0;
    border-color: #f8b1b0;
}

.spinner-border {
    border: 0.2em solid #f3f3f3;
    border-top: 0.2em solid #ef9291;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: .7rem;
    background-color: #ffffff;
    grid-area: header;
    width: 80%;
    margin: auto;
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 2;
}

header .logo {
    width: 200px;
    margin-right: auto;
}

nav {
    overflow: hidden;
}

.login-text {
    color: #ffffff;
    text-align: center;
}

.login-text:hover {
    color: #7e7e7e;
}

.btn {
    background-color: #f6b4b1;
    border-radius: 10px;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
}

.btn:hover {
    background-color: #fff;
}

.btn .login-icon {
    display: none;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 0.7rem;
}

.nav-list a {
    display: flex;
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.nav-list a:hover {
    color: #f8b1b0;
    border: 1px solid #f8b1b0;
    border-radius: .5rem;
}

.abrir-menu {
    display: none;
}

.cerrar-menu {
    display: none;
}

#boton-registro {
    background-color: #f8b1b0;
    color: #fff;
    border-radius: 10px;
    transition: all 0.5s ease;
}

#boton-registro:hover {
    background-color: #fff;
    color: #f8b1b0;
}


@media screen and (max-width: 600px) {
    header,
    main,
    footer,
    .footer {
        width: 100%;
    }

    #firstname, #lastname, #birthdate, #email, #sucursalform, #query, #image{
        background-color: #ffffff;
        border: none;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.8rem;
        background-color: transparent;
        cursor: pointer;
        color: rgb(86, 86, 86);
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        gap: 1rem;
        top: 0;
        right: 0;
        background-color: #f8b1b0;
        color: #ffffff;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.25);
        overflow: hidden;
        transition: height 1s ease;
        line-height: 2rem;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
        color: rgb(255, 255, 255);
    }

    .nav-list a {
        color: #ffffff;
    }

    .nav-list a:hover {
        color: #797777;
        border: none;
    }
}

/* Media query para pantallas de tamaño de tabletas (entre 600px y 1024px) */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .login-text {
        display: none;
    }

    .btn .login-icon {
        display: inline;
        color: #ffffff;
        font-size: 1.2rem;
    }

    .btn {
        padding: 0.5rem;
    }

    .btn:hover .login-icon {
        color: #7e7e7e;
    }

    .btn:active .login-icon,
    .btn:focus .login-icon {
        color: #7e7e7e;
    }
}

.nav-select {
    
    padding: 5px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* -------- Footer -------- */

footer {
    background-color: #f8b1b0;
    grid-area: footer;
    width: 80%;
    margin: auto;
}


.container-footer {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;

}

#reseña {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.footer-logo {
    margin-bottom: 15px;
    max-width: 180px;
}

.footer {
    background-color: #f8b1b0;
    padding: 50px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 15px 15px;

}

.footer-links:last-child {
    margin-left: auto;
}

.footer-links h4 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid oldlace;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: rgb(144, 139, 142);
    padding-left: 6px;

}

.footer-links li {
    list-style: none;
}

@media (max-width: 991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }   
}

.social-media {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 30px 30px 0 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.social-media a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #f8b1b0;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}

.social-media a:hover {
    background-color: #737373;
}

.copyrigth {
    font-size: 12px;
    background-color: #fff;
    color: #7e7e7e;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 15px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.whatsapp-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.whatsapp-link .whatsapp-img {
    width: 70px;
    height: auto;
    transition: filter 0.3s ease;

}

.whatsapp-link:hover .whatsapp-img {
    width: 70px;
    height: auto;
    filter: hue-rotate(90deg);
    filter: grayscale(100%);

}

.contenedorT {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animarFondo 10s infinite alternate;

}

@keyframes animarFondo {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}