<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeautySpa</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="shortcut icon" href="./img/icon.png" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./css/tratamientos.css">

</head>


<body>
    <header id="header-container" class="header-container"></header>

    <main>

        <div class="app-container">
            <h1 id="titulo_tabla" >Usuarios</h1>
            <a class="btns btns-outline-primary btn-lg" href="registro.html">Nuevo</a>
        </div>

        <div id="vue-user" class="container">
            <div v-if="error">
                <p>Lo sentimos, en este momento no podemos mostrarte el contenido. Intente nuevamente más tarde.</p>
            </div>

            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>

                <section v-else>
                    <div class="table-responsive">
                        <!-- <div class="table-responsive" v-if="usuario."> -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Rol</th>
                                    <th colspan="2">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="usuario in usuarios">
                                    <td>{{usuario.id}}</td>
                                    <td>{{usuario.nombre}}</td>
                                    <td>{{usuario.email}}</td>
                                    <td>{{usuario.password}}</td>
                                    <td>{{usuario.rol}}</td>
                                    <td>
                                        <a id="btns btns-outline-success" class="btns btns-outline-success"
                                            :href="'usuario_update.html?id='+ usuario.id">Editar</a>
                                    </td>
                                    <td>
                                        <button type="button" id="btns btns-outline-danger" class="btns btns-outline-danger"
                                            v-on:click="eliminar(usuario.id)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- <div v-else>
                        <p>No tienes permisos para ver esta sección.</p>
                    </div> -->

                </section>

            </div>
        </div>
    </main>

    <footer id="footer-container" class="footer"></footer>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/vue-admin.js"></script>


    <script src="./js/footer.js"></script>
    <script src="./js/admin.js"></script>
    <script src="./js/tratamiento.js"></script>
    <script src="./js/header_adm.js"></script>

</body>

</html>