<!doctype html>
<html lang="es">

<head>
    <title>BeautySpa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="shortcut icon" href="./img/icon.png" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="stylesheet" href="./css/tratamientos.css">
</head>

<body>
    <header id="header-container" class="header-container"></header>

    <main>
        <div id="app" class="container">
            <div class="app-container">
                <h1 id="titulo_tabla">Tratamientos</h1>
                <a class="btns btns-outline-primary btn-lg" href="tratamiento_nuevo.html">Nuevo</a>
            </div>
            <div v-if="error">
                <p>Lo sentimos, hubo un error al cargar los datos.</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando...</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Duración</th>
                                    <th scope="col">Días</th>
                                    <th scope="col">Hora</th>
                                    <th scope="col" colspan="2">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="tratamiento in tratamientos" :key="tratamiento.id">
                                    <td>{{ tratamiento.id }}</td>
                                    <td>{{ tratamiento.nombre }}</td>
                                    <td>{{ tratamiento.descripcion }}</td>
                                    <td>{{ tratamiento.duracion }}</td>
                                    <td>{{ tratamiento.dia_semana }}</td>
                                    <td>{{ tratamiento.hora }}</td>
                                    <td>
                                        <a class="btns btns-outline-success"
                                            :href="'tratamiento_update.html?id=' + tratamiento.id">Editar</a>
                                    </td>
                                    <td>
                                        <button type="button" class="btns btns-outline-danger"
                                            @click="eliminar(tratamiento.id)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>
    
    <footer id="footer-container" class="footer"></footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!-- Enlace a Vue -->
    <script src="./js/tratamiento.js"></script>
    <script src="./js/header_adm.js"></script>
    <script src="./js/footer.js"></script>


</body>

</html>